/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  width: 25%;
  height: 100%;
  background-color: #f1f1f1;
  overflow: auto;
  position: fixed;
}

a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
}

a:hover {
  background-color: #555;
  color: white;
}

#content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}
 */